@charset 'utf-8';

@use 'sass:math';
@use 'sass:string';

:has(.backgrounds) {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.card {
  padding: 2em;
}

@function getShadows($n) {
  $shadows: '';
  @for $i from 1 through $n {
    $shadows: #{$shadows}, string.unquote('#{math.div(math.random(10000), 100)}vw #{math.div(math.random(10000), 100)}vh 2px #fffa');
  }
  @return $shadows;
}

.backgrounds {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  &::before {
    content: '';
    height: 100vh;
    width: 100vw;
    background: linear-gradient(132deg, #ffc0cbcf, #66ccff66 90%);
    filter: url(#svg-filter);
    position: absolute;
  }
  @for $i from 1 through 4 {
    > div:nth-child(#{$i}) {
      position: absolute;
      animation: backgrounds-animation-moveup #{$i * 30}s linear infinite;
      height: #{math.div(8, $i)}px;
      width: #{math.div(8, $i)}px;
      border-radius: 100%;
      box-shadow: getShadows($i * 32);
      &::after {
        content: '';
        position: inherit;
        box-shadow: inherit;
        width: inherit;
        height: inherit;
        border-radius: inherit;
        top: 100vh;
      }
    }
  }
}

@keyframes backgrounds-animation-moveup {
  to {
    transform: translateY(-100vh);
  }
}

