@charset 'utf-8';

@use 'sass:math';
@use 'sass:string';

.card {
  display: flex;
  flex-direction: column;
  margin: 16px;
  gap: 16px;
  > * {
    margin: auto;
  }
}

@function getShadows($n) {
  $shadows: '';
  @for $i from 1 through $n {
    $shadows: #{$shadows}, string.unquote('#{math.div(math.random(10000), 100)}vw #{math.div(math.random(10000), 100)}vh 2px #fffa');
  }
  @return $shadows;
}

.backgrounds {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  &::before {
    content: '';
    height: 100vh;
    width: 100vw;
    background: linear-gradient(132deg, #ffc0cbcf, #66ccff66 90%);
    filter: url(#svg-filter);
    position: absolute;
  }
  @for $i from 1 through 4 {
    > div:nth-child(#{$i}) {
      position: absolute;
      animation: backgrounds-animation-moveup #{$i * 30}s linear infinite;
      height: math.div(8px, $i);
      width: math.div(8px, $i);
      border-radius: 100%;
      box-shadow: getShadows($i * 32);
      &::after {
        content: '';
        position: inherit;
        box-shadow: inherit;
        width: inherit;
        height: inherit;
        border-radius: inherit;
        top: 100vh;
      }
    }
  }
}

@keyframes backgrounds-animation-moveup {
  to {
    transform: translateY(-100vh);
  }
}

$navi-height: 48px;
$navi-between: 16px;
$skew-angle: 15deg;
$skew-angle-n: -$skew-angle;

.nav {
  width: 100%;
  height: 64px;
  overflow: hidden visible;
  display: flex;
  font-family: monospace;
  > * {
    height: $navi-height;
    margin: auto 0;
    padding: 0;
    display: flex;
    position: relative;
    gap: $navi-between;
    &::before {
      content: '';
      background: #1116;
      height: 100%;
      $navi-delta-w: math.tan($skew-angle) * $navi-height;
      width: calc(100% + $navi-delta-w);
      transform: skewX($skew-angle-n) translateX(math.div($navi-delta-w, -2));
      position: absolute;
      z-index: -1;
      box-shadow: 4px 4px 4px #6666;
    }
    * {
      transition-property: none;
      transition-duration: 400ms;
      transition-timing-function: ease-in-out;
    }
    > * {
      display: flex;
      height: inherit;
      &:first-child {
        margin-left: $navi-between;
      }
      &:last-child {
        margin-right: $navi-between;
      }
      transition-property: background-size;
      background: {
        image: linear-gradient(#6cf);
        size: 0 2px;
        repeat: no-repeat;
        position: right bottom;
      }
      &:hover {
        background-size: 100% 2px;
        background-position-x: left;
        > * {
          color: #6cf;
        }
      }
      > * {
        margin: auto;
        color: #fefefefe;
        transition-property: color;
      }
    }
  }
}
.navRight {
  margin-left: auto;
}
